<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user/template::areas(~{::title},~{::main})}">
<head>
    <title>Paid page</title>
</head>
<body>
<main>
    <div class="container-fluid border rounded p-2">
        <h1 class="border-bottom pb-3 mb-4">Finance Approved</h1>
        <hr>
        <table id="status-approved" class="table table-striped table-bordered " style="width:100%">
            <thead class="bg-info">
            <tr>
                <th>No</th>
                <th>Name staff</th>
                <th>Name Project</th>
                <th>Project Duration</th>
                <th>Date OT</th>
                <th>Day OT</th>
                <th>OverTime Duration</th>
                <th>Total house</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script th:src="@{/js/finance/paid-claim.js}"></script>
</main>
</body>
</html>
